<div>
  <ng-container>
    <p-card [header]="business.name | titlecase" [subheader]="business.location | titlecase">
      <div>
        <span><strong>Price</strong>: {{ business.price | currency }}</span>
        <span><strong>Cashflow</strong>: {{ business.cashFlow | currency }}</span>
        <span><strong>Revenue</strong>: {{ business.revenue | currency }}</span>
        <span><strong>Rent</strong>: {{ business.rent | currency }}</span>
      </div>

      <div>
        <span><strong>EBITDA</strong>: {{ business.ebitda | currency }}</span>
        <span><strong>FFE</strong>: {{ business.ffe.value | currency }} {{ business.ffe.included ? '': '*'}}</span>
        <span><strong>Inventory</strong>: {{ business.inventory.value | currency }} {{ business.inventory.included ? '':
          '*'}}</span>
        <span><strong>Employees</strong>: {{ business.employees | number }}</span>
        <span><strong>Established</strong>: {{ business.established | number }}</span>
      </div>
      <ng-template pTemplate="footer">
        <p-button type="button" (click)="buy()" label="Buy ({{ this.totalPrice() | currency }})"
          styleClass="p-button-success"></p-button>
      </ng-template>
    </p-card>
  </ng-container>
</div>