<div class="dashboard">
  <div *ngIf="businesses$ | async as businesses" class="business-container">
    <business-sim-business *ngFor="let business of businesses" [business]="business"></business-sim-business>
  </div>
  <div class="assets">
    <div class="turn">
      <button (click)="advance()">Next month</button>
      <button (click)="advance(3)">Next quarter</button>
      <button (click)="advance(6)">6 months</button>
      <button (click)="advance(12)">1 year</button>
      <button (click)="advance(60)">5 years</button>
      <span style="padding-left: 2rem;">Current Turn: {{ turn }}(months) {{ turn / 12 | number}} (years)</span>
      <span style="padding-left: 2rem;">Monthly Income: {{ monthlyIncome | currency }}</span>
      <span style="padding-left: 2rem;">Yearly Income: {{ annualIncome | currency }}</span>
      <span style="padding-left: 2rem;">Owned: {{ ownedBusinesses.length | number }}</span>
      <span style="padding-left: 2rem;">Age: {{ (16 + (turn / 12)) | number }}</span>
    </div>
    <ng-container *ngIf="capital$ | async as capital; else nocapital">
      <h3>Capital: {{ capital | currency }}</h3>
    </ng-container>
    <ng-container *ngIf="ownedBusinesses as owned">
      <ng-container *ngIf="owned?.length; else nobusinesses">
        <div class="business" *ngFor="let business of owned">
          <div>
            <h3>Business</h3>
            <strong>Name: </strong><span>{{ business.name | titlecase }}</span><br>
            <strong>Annual Cashflow: </strong><span>{{ calculateCashflow(business, true) | currency }}</span><br>
            <strong>Monthly Cashflow: </strong><span>{{ calculateCashflow(business) | currency }}</span><br>
            <strong *ngIf="!business.loan" (click)="sell(business)">Sell for {{ business.cashFlow * 2.25 | currency
              }}</strong>
          </div>
          <ng-container *ngIf="business.loan">
            <div>
              <h3>Loan
                <span (click)="loanPayoff(business.loan)"
                  *ngIf="business.loan.payments[0].principalRemaining + business.loan.payments[0].interestPayment < capital"
                  title="{{business.loan.payments[0].principalRemaining + business.loan.payments[0].interestPayment | currency }}">
                  [Payoff] - {{ business.loan.payments[0].principalRemaining + business.loan.payments[0].interestPayment
                  | currency }}
                </span>
              </h3>
              <strong>Payment:</strong> {{ business.loan.payments[0].totalPayment | currency }}<br>
              <strong>Principal:</strong> {{ business.loan.payments[0].principalRemaining | currency }}<br>
              <strong>Interest Paid:</strong> {{ business.loan.payments[0].interestCumulative | currency }}<br>
              <strong>Payments Left:</strong> {{ business.loan.payments.length | number }}
              <table>
                <caption><strong>Schedule</strong></caption>
                <thead>
                  <tr>
                    <th>Payment #</th>
                    <th>Paid to Interest</th>
                    <th>Paid to Principal</th>
                    <th>Current Balance</th>
                    <th>Total Interest</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of business.loan.payments">
                    <td>{{ payment.id }}</td>
                    <td>{{ payment.interestPayment | currency }}</td>
                    <td>{{ payment.principalPayment | currency }}</td>
                    <td>{{ payment.principalRemaining | currency }}</td>
                    <td>{{ payment.interestCumulative | currency }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #nobusinesses>
      <h3>You don't own any businesses</h3>
    </ng-template>
    <ng-template #nocapital>
      <h3>You have no capital. Take out a loan?</h3>
    </ng-template>
  </div>
</div>