<div class="dashboard">
  <div *ngIf="businesses$ | async as businesses" class="business-container">
    <business-sim-business *ngFor="let business of businesses" [business]="business"></business-sim-business>
  </div>
  <div class="assets">
    <p-panel header="Capital: {{ capital | currency }}" [style]="{ width: '100%', marginBottom: '2rem'}">
      <div class="flex flex-column gap-3">
        <div class="card flex flex-wrap gap-3">
          <span>{{ turn / 12 | number: '1.0-1' }} (years) {{ turn }} (months)</span>
          <span>Monthly Income: {{ monthlyIncome | currency }}</span>
          <span>Yearly Income: {{ annualIncome | currency }}</span>
          <span>Owned: {{ ownedBusinesses.length | number: '1.0-0' }}</span>
          <span>Managers: {{ managers | number: '1.0-0' }}</span>
          <span>Age: {{ (40 + (turn / 12)) | number: '1.0-0' }}</span>
        </div>
        <div class="card flex flex-wrap gap-3 justify-content-between">
          <p-button label="Next Month" (onClick)="advance()"></p-button>
          <p-button styleClass="p-button-secondary" label="Next Quarter" (onClick)="advance(3)"></p-button>
          <p-button styleClass="p-button-secondary" label="6 Months" (onClick)="advance(6)"></p-button>
          <p-button styleClass="p-button-secondary" label="1 Year" (onClick)="advance(12)"></p-button>
          <p-button styleClass="p-button-secondary" label="5 Years" (onClick)="advance(60)"></p-button>
          <p-button *ngIf="capital > 100000" styleClass="p-button-success" label="Hire Manager"
            (onClick)="hireManager()"></p-button>
        </div>
      </div>
    </p-panel>

    <ng-container *ngIf="ownedBusinesses as owned">
      <ng-container *ngIf="owned?.length; else nobusinesses">
        <p-panel *ngFor="let business of owned" [header]="business.name | titlecase" [toggleable]="true"
          [style]="{marginBottom: '1rem'}" [collapsed]="false">
          <div class="flex justify-content-between">
            <ul class="p-0 list-none">
              <li><strong>Purchase Price</strong>: {{ business.price | currency }}</li>
              <li><strong>Annual Cashflow</strong>: {{ calculateCashflow(business, true) | currency }}</li>
              <li><strong>Monthly Cashflow</strong>: {{ calculateCashflow(business) | currency }}</li>
              <li><strong>Months Owned</strong>: {{ business.monthsOwned | number: '1.0-0'}}</li>
              <li><strong>Profit ~ </strong>: {{ business.totalProfit | currency }}</li>
            </ul>
            <div *ngIf="business.loan && business.loan.payments.length">
              <p-fieldset legend="Loan">
                <ul class="p-0 list-none">
                  <li><strong>Payment:</strong> {{ business.loan.payments[0].totalPayment | currency }}</li>
                  <li><strong>Principal:</strong> {{ business.loan.payments[0].principalRemaining | currency }}</li>
                  <li><strong>Interest Paid:</strong> {{ business.loan.payments[0].interestCumulative | currency }}</li>
                  <li><strong>Payments Left:</strong> {{ business.loan.payments.length | number }}</li>
                </ul>
              </p-fieldset>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <div class="flex gap-3">
              <p-button *ngIf="!business.loan" (onClick)="sell(business)" label="Sell"
                styleClass="p-button-success"></p-button>
              <p-button *ngIf="business.loan" label="View Loan Schedule" styleClass="p-button-info"
                (onClick)="viewSchedule(business)"></p-button>
              <p-button label="Pay off loan"
                *ngIf="business.loan && business.loan.payments[0] && business.loan.payments[0].principalRemaining + business.loan.payments[0].interestPayment < capital"
                (click)="loanPayoff(business.loan)" styleClass="p-button-warning">
              </p-button>
            </div>
          </ng-template>
        </p-panel>
      </ng-container>
    </ng-container>
    <ng-template #nobusinesses>
      <h3>You don't own any businesses</h3>
    </ng-template>
    <ng-template #nocapital>
      <h3>You have no capital. Take out a loan?</h3>
    </ng-template>
  </div>
</div>
<p-confirmDialog [style]="{width: '25rem'}"></p-confirmDialog>